body{
    background-color: #ccc;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

img{
    flex-direction: row;
    display: flex;
    position: absolute;
}

